@model UsersViewModel
@{
    ViewData["Title"] = "Users";
}

<div>
    <fieldset>
        <legend>Registered users</legend>
        <table class="table table-hover table-sm table-stripped">
            <thead class="thead-dark">
                <tr>
                    <th>Name</th>
                    <th>Phone</th>
                    <th>Comment</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in @Model.AvailableUsers)
                {
                    <tr>
                        <td>@user.UserName</td>
                        <td>@user.UserPhone</td>
                        <td>@user.UserComment</td>
                    </tr>
                }
            </tbody>
        </table>
    </fieldset>
</div>
