@page
@model IndexModel
@{
    ViewData["Title"] = "WA4D0G Web panel";
}

<div class="text-center">
    <h1 class="display-4">Available certificates</h1>
    <table class="table">
        <tr>
            <td>FIO</td>
            <td>Phone</td>
            <td>Start date</td>
            <td>End date</td>
        </tr>
        
        <tr><td align="left">Бабичев Игорь Владимирович</td><td>89610037151</td><td>10.11.2012</td><td>10.11.2013</td></tr>
        <tr><td align="left">Бабичев Владимир Игоревич</><td>89610037151</td><td>10.11.2012</td><td>10.11.2013</td></tr>
        <tr><td align="left">Иванов Иван Иванович</td><td>89610037151</td><td>10.11.2012</td><td>10.11.2013</td></tr>
    </table>
</div>
