@model CertificatesViewModel
@{
    ViewData["Title"] = "Сертификаты";
}

<div class="container">
    <fieldset>
        <legend>Зарегистрированные держатели сертификатов</legend>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>ФИО</th>
                    <th>Номер телефона</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in@Model.Subjects)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.Phone</td>
                        <td style="text-align: right;"><a asp-controller="Certificates" asp-action="Details" asp-route-ID=@item.ID>Просмотр</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </fieldset>
</div>
