@model SubjectsListViewModel

@{
    ViewData["Title"] = "Subjects list";
}

<div>
    <fieldset>
        <legend>Registered subjects</legend>
        <table class="table">
            <tr>
                <td>Name</td>
                <td>Phone</td>
                <td>Comment</td>
            </tr>

            @foreach (var item in @Model.CertificateSubjects)
            {
                <tr>
                    <td>@item.SubjectName</td>
                    <td>@item.SubjectPhone</td>
                    <td>@item.SubjectComment</td>
                </tr>
            }

        </table>
    </fieldset>
</div>



<div class="text-center"
    <p><a class="nav-link text-dark" asp-controller="Subjects" asp-action="SubjectDetails">Watch for subjects via this page</a></p>
</div>
