@model SubjectsListViewModel

@{
    ViewData["Title"] = "Subjects list";
}

<div>
    <form method="get" asp-controller="Subjects" asp-action="LoadFromSystemStore">
        <input type="submit" class="btn btn-storesearch" />
    </form>
</div>

<div>
    <fieldset>
        <legend>Registered subjects</legend>
        <table class="table">
            <tr>
                <td>Name</td>
                <td>Phone</td>
                <td>Comment</td>
                <td></td>
            </tr>

            @foreach (var item in @Model.CertificateSubjects)
            {
                <tr>
                    <td>@item.SubjectName</td>
                    <td>@item.SubjectPhone</td>
                    <td>@item.SubjectComment</td>
                    <td>
                        <div class="btn-block">
                            <form method="get" asp-controller="Subjects" asp-action="SubjectDetails" asp-route-id=@item.ID>
                                <input type="submit" class="btn btn-details" />
                            </form>
                            <form method="post" asp-controller="Subjects" asp-action="SubjectDelete" asp-route-id=@item.ID>
                                <input type="submit" class="btn btn-delete" />
                            </form>
                        </div>
                    </td>
                </tr>
            }

        </table>
    </fieldset>
</div>
