@model CrtAdminPanel.Models.Classes.Settings
@{
    ViewData["Title"] = "Edit settings";
}

<div class="text-center">
    <h2>Config set up</h2>
</div>

<form asp-action="EditSettings" asp-controller="Home">
    <div>
        <div class="validation" asp-validation-summary="ModelOnly"></div>
        <div class="form-group">
            <dl class="dl-horizontal">
                <dd><label>WarnDaysCount</label></dd>
                <dd>
                    <input asp-for="WarnDaysCount" class="form-control" />
                </dd>
            </dl>

            <input type="submit" value="Confirm" class="btn btn-primary" />
        </div>
    </div>
</form>

@*Нужно для валидации на уровне клиента. Если скрипты в браузере отключены, переходим к валидации на сервере*@
@section scripts{
 
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}