@page
@model WA4D0GWebPanel.Pages.Subjects.ViewSubjectsListModel
@{
    ViewData["Title"] = "Subjects";
}

<div>
    <fieldset>
        <legend>Registered subjects</legend>
        <table class="table">
            <tbody>
                <tr>
                    <td>Subject full name</td>
                    <td>Phone number</td>
                    <td>Comment</td>
                    <td></td>
                </tr>

                @foreach (var item in @Model.Subjects)
                {
                    <tr>
                        <td>@item.SubjectName</td>
                        <td>@item.SubjectPhone</td>
                        <td>@item.SubjectComment</td>
                        <td>
                            <a asp-page="/Subjects/SubjectDetails" asp-route-json=@Json.Serialize(item)>
                                <img src=~/icons/32/details.png width=23 height=23/>
                            </a>
                            <a asp-page="/Index">
                                <img src=~/icons/32/edit.png width=23 height=23/>
                            </a>
                            <a asp-page="/Index">
                                <img src=~/icons/32/delete.png width=23 height=23 />
                            </a>
                        </td>                
                    </tr>
                }   
            </tbody>
        </table>
    </fieldset>
</div>