@model SettingsViewModel
@{
    ViewData["Title"] = "Настройки";
}

<div>
    <div class="validation" asp-validation-summary="All" />
    <fieldset>
        <legend>Service settings</legend>
        <form asp-controller="Settings" asp-action="SettingsEdit">
            <table class="table table-sm table-stripped">
                <thead class="thead-dark">
                    <tr>
                        <th>Параметр</th>
                        <th>Значение</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>IP сервера</td>
                        <td>
                            <input asp-for="Settings.MainServerIP" readonly="readonly" />
                        </td>
                    </tr>
                    <tr>
                        <td>Порт</td>
                        <td>
                            <input asp-for="Settings.MainServerPort" readonly="readonly" />
                        </td>
                    </tr>
                    <tr>
                        <td>Интервал синхронизации (сек)</td>
                        <td>
                            <input asp-for="Settings.VerificationFrequency" />
                        </td>
                    </tr>
                </tbody>
            </table>
            <input type="submit" class="btn btn-primary" value="Сохранить" />
        </form>
    </fieldset>
</div>
