@{
    ViewData["Title"] = "Settings";
}

<div class="text-center">
    <table class="table">
        <thead>Available settings</thead>
        <tr>
            <td>Parameter</td>
            <td>Value</td>
            <td>Edit</td>
        </tr>

        <tr>
            <td>WarnDaysCount</td>
            <td>@Model.WarnDaysCount</td>
        </tr>
    </table>
</div>
