@model CrtAdminPanel.Models.Classes.Certificate
@{
    ViewData["Title"] = "Edit certificate";
}

<div class="text-center">
    <h2>Edit certificate</h2>
</div>

<form asp-action="EditCertificate" asp-controller="Home">
    <dl class="dl-horizontal">
        <dt>Subject name</dt>
        <dd>
            @Model.HolderFIO
        </dd>
 
        <dt>Phone number</dt>
        <dd>
            <div class="form-group">
                <input asp-for="HolderPhone" class="form-control" />
            </div>
        </dd>

        <dt>Certificate start date</dt>
        <dd>
            @Model.CertStartDateTime
        </dd>

        <dt>Certificate end date</dt>
        <dd>
            @Model.CertEndDateTime
        </dd>
    </dl>
    
    <div class="form-group">
        <input type="submit" value="Confirm" class="btn btn-primary" />
    </div>
</form>


