@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <table class="table">
        <thead>List of available certificates</thead>
        <tr>
            <td>Name</td><td>Phone number</td><td>Start date</td><td>End date</td>
        </tr>
    </table>
</div>
