@model WA4D0GWebPanel.ViewModels.UsersListViewModel

@{
    ViewData["Title"] = "Users";
}

<div class="container">
    <div class="row">
        <div class="col-lg box-shadow btn-block" style="margin: 10px; padding: 10px; border-radius: 5px;">
            <form method="get" asp-controller="Users" asp-action="LoadFromSystemStore">
                <input type="submit" class="btn btn-reload" value="Reload" />
            </form>
            <form method="get" asp-controller="Users" asp-action="">
                <input type="submit" class="btn btn-report" value="Generate report" />
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-lg box-shadow" style="margin: 10px; padding: 10px; border-radius: 5px">
            <fieldset>
                <legend>Registered subjects</legend>
                <div class="table-scrollable table-subjects">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Phone</th>
                                <th>Comment</th>
                                <th></th>
                            </tr>
                        </thead>

                        @foreach (var item in @Model.Users)
                        {
                            <tr>
                                <td>@item.UserName</td>
                                <td>@item.UserPhone</td>
                                <td>@item.UserComment</td>
                                <td>
                                    <div class="btn-block">
                                        <form method="get" asp-controller="Users" asp-action="UserDetails" asp-route-id=@item.ID>
                                            <input type="submit" class="btn btn-details" />
                                        </form>
                                        <form method="post" asp-controller="Users" asp-action="UserDelete" asp-route-id=@item.ID>
                                            <input type="submit" class="btn btn-delete" />
                                        </form>
                                    </div>
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            </fieldset>
        </div>
    </div>
</div>
