@model HostsViewModel
@{
    ViewData["Title"] = "Hosts";
}

<div>
    <fieldset>
        <legend>Registered hosts</legend>
        <table class="table table-hover table-sm table-stripped">
            <thead class="thead-dark">
                <tr>
                    <th>IP</th>
                    <th>Hostname</th>
                    <th>Port</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var host in @Model.AvailableHosts)
                {
                    <tr>
                        <td>@host.IP</td>
                        <td>@host.HostName</td>
                        <td>@host.ConnectionPort</td>
                    </tr>
                }
            </tbody>
        </table>
    </fieldset>
</div>
