@{
    ViewData["Title"] = "Home Page";
}

<div style="position: -webkit-sticky">
    <fieldset class="shadow" style="border-radius: 6px">
        <legend style="margin: 10px; font-size: 20px">group box 1</legend>
        <ul>
            <li>string 1</li>
            <li>string 2</li>
            <li>string 3</li>
            <li>string 4</li>
        </ul>
    </fieldset>
    <fieldset class="shadow" style="border-radius: 6px">
        <legend style="margin: 10px; font-size: 20px">group box 2</legend>
        <ul>
            <li>string 1</li>
            <li>string 2</li>
            <li>string 3</li>
            <li>string 4</li>
        </ul>
    </fieldset>
    <fieldset class="shadow" style="border-radius: 6px">
        <legend style="margin: 10px; font-size: 20px">group box 3</legend>
        <ul>
            <li>string 1</li>
            <li>string 2</li>
            <li>string 3</li>
            <li>string 4</li>
        </ul>
    </fieldset>
</div>

